.navbar {
  background: #1e293b;
  padding: 15px 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h2 {
  color: white;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}
